<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot Thymeleaf Hello World Example</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Payment Forecast Challenge</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li th:classappend="${#httpServletRequest.getRequestURI()=='/'?'active':''}"><a href="/">Payments</a></li>
                        <li th:classappend="${#httpServletRequest.getRequestURI()=='/logs'?'active':''}"><a href="/logs">Logs</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <!--<form method="POST" action="/upload" enctype="multipart/form-data">-->
                <!--<div class="form-group">-->
                    <!--<input class="btn btn-default" type="file" name="file" accept="text/csv"/>-->
                    <!--<input class="btn btn-primary" type="submit" value="Submit" />-->
                <!--</div>-->
            <!--</form>-->

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sky</th>
                        <th>British_Gas</th>
                        <th>Vodafone</th>
                        <th>Thames_Water</th>
                        <th>Tamar_Crossing</th>
                        <th>British_Telecom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Monday</th>
                        <td th:text="${tableData.get(0).getAmount()}"></td>
                        <td th:text="${tableData.get(5).getAmount()}"></td>
                        <td th:text="${tableData.get(10).getAmount()}"></td>
                        <td th:text="${tableData.get(15).getAmount()}"></td>
                        <td th:text="${tableData.get(20).getAmount()}"></td>
                        <td>No data</td>
                        <!--<td th:text="${tableData.get(25).getAmount()} == null ? '' : ${tableData.get(25).getAmount()}"></td>-->
                    </tr>
                    <tr>
                        <th>Tuesday</th>
                        <td th:text="${tableData.get(1).getAmount()}"></td>
                        <td th:text="${tableData.get(6).getAmount()}"></td>
                        <td th:text="${tableData.get(11).getAmount()}"></td>
                        <td th:text="${tableData.get(16).getAmount()}"></td>
                        <td th:text="${tableData.get(21).getAmount()}"></td>
                        <td th:text="${tableData.get(25).getAmount()}"></td>
                    </tr>
                    <tr>
                        <th>Wednesday</th>
                        <td th:text="${tableData.get(2).getAmount()}"></td>
                        <td th:text="${tableData.get(7).getAmount()}"></td>
                        <td th:text="${tableData.get(12).getAmount()}"></td>
                        <td th:text="${tableData.get(17).getAmount()}"></td>
                        <td th:text="${tableData.get(22).getAmount()}"></td>
                        <td th:text="${tableData.get(26).getAmount()}"></td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td th:text="${tableData.get(3).getAmount()}"></td>
                        <td th:text="${tableData.get(8).getAmount()}"></td>
                        <td th:text="${tableData.get(13).getAmount()}"></td>
                        <td th:text="${tableData.get(18).getAmount()}"></td>
                        <td th:text="${tableData.get(23).getAmount()}"></td>
                        <td th:text="${tableData.get(27).getAmount()}"></td>
                    </tr>
                    <tr>
                        <th>Friday</th>
                        <td th:text="${tableData.get(4).getAmount()}"></td>
                        <td th:text="${tableData.get(9).getAmount()}"></td>
                        <td th:text="${tableData.get(14).getAmount()}"></td>
                        <td th:text="${tableData.get(19).getAmount()}"></td>
                        <td th:text="${tableData.get(24).getAmount()}"></td>
                        <td th:text="${tableData.get(28).getAmount()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>